.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--white);

  &__logo {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    height: 42px;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    @include container;
    align-items: inherit;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 450px;
    margin-top: 12px;
    justify-content: space-between;

    @media (min-width: 768px) {
      width: 768px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media (min-width: 1200px) {
      width: 1200px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__link {
    height: 90px;
    width: 210px;
    border: 1px solid var(--grey);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    fill: var(--grey);
    transition: border-color var(--animtrans), fill var(--animtrans);

    &:hover {
      fill: var(--blue);
      cursor: pointer;
      border-color: var(--blue);
      transition: border-color var(--animtrans), fill var(--animtrans);
    }

    @media (min-width: 768px) {
      height: 90px;
      width: 226px;
    }

    @media (min-width: 1200px) {
      height: 90px;
      width: 170px;
    }
  }
}
