.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--white);

  &__logo {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    height: 42px;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
  
  &__container {
    display: flex;
    justify-content: space-between;
    @include container;
    align-items: inherit;
  }
  
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
  
    & .item + .item {
      margin-left: 30px;
    }
  }

  &__link {
    height: 90px;
    width: 170px;
    border: 1px solid var(--grey);
    display: flex;
    justify-content: center;  
    align-items: center;
    fill: var(--grey);
    transition: border-color var(--animtrans), fill var(--animtrans);
    
    &:hover {
      fill: var(--blue);
      cursor: pointer;
      border-color: var(--blue);
      transition: border-color var(--animtrans), fill var(--animtrans);
    }
  }
}

