.header {
  background-color: var(--white);
  border: 1px;
  border-color: var(--light-grey);
  border-style: solid;
  display: flex;
  align-items: baseline;

  &__container {
    display: inherit;
    align-items: baseline;
    @include container;
  }

  &__logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    color: var(--black);
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    margin: 16 auto 16 15;

    &-prefix {
      color: var(--blue);
      font-family: 'Raleway', sans-serif;
    }
  }

  &__nav {
    list-style-type: none;
    list-style-position: inside;
    vertical-align: baseline;
    margin-left: 93px;
    color: var(--grey);

    @media (max-width: 767px) {
      display: none;
      pointer-events: none;
    }
  }

  &__navlinks {
    display: flex;
    align-items: baseline;

    & > .header__link:not(:last-child),
    & > .header__currentlink:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__currentlink {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.02em;
    color: var(--blue);

    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--blue);
      opacity: 1;
      transition: opacity var(--animtrans);
    }
  }

  &__address {
    margin-left: auto;
    display: flex;
    align-items: baseline;
    // height: 80px;
    color: var(--grey);
  }

  &__phone {
    margin-left: 50px;

    @media (max-width: 1199px) {
      margin-left: 0;
    }
  }

  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}

.mobilemenu__openbutton {
  width: 24px;
  height: 16px;
  background-color: var(--white);
  border: none;
  outline: none;
  margin: 10px 10px 10px auto;
  display: flex;
  text-align: center;
  align-items: center;
  transition: color var(--animtrans);

  &:hover,
  &:focus {
    color: var(--blue);
    cursor: pointer;
    transition: color var(--animtrans);
  }
}

.mobilemenu__openicon {
  width: 24px;
  height: 16px;
}

@media (min-width: 768px) {
  .mobilemenu__openbutton {
    display: none;
    pointer-events: none;
  }
}

@media (max-width: 479px) {
  .header__nav {
    display: none;
    pointer-events: none;
  }
}

@media (max-width: 767px) {
  .header__address {
    display: none;
    pointer-events: none;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header__address {
    display: block;
  }
}
