:root {
  --black: rgb(33, 33, 33);
  --black-op10: rgba(33, 33, 33, 0.1);
  --black-op20: rgba(33, 33, 33, 0.2);
  --blue: rgb(33, 150, 243);
  --white-op60: rgba(255, 255, 255, 0.6);
  --white-op30: rgba(255, 255, 255, 0.3);
  --white-op10: rgba(255, 255, 255, 0.1);
  --grey: rgb(117, 117, 117);
  --grey-op50: rgba(117, 117, 117, 0.5);
  --grey-op80: rgba(47, 48, 58, 0.8);
  --light-grey: rgb(245, 244, 250);
  --grey-gradient: rgba(47, 48, 58, 0.4);
  --graphite: rgba(48, 48, 48, 1);
  --white: rgb(255, 255, 255);
  --dark-blue: rgb(47, 48, 58);
  --card-set-gap: 30px;
  --animtrans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    @mixin container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    }

    @mixin thumb {
    position: relative;
    display: block;
    border: none;  
    width: 370px;
    height: 294px;
    }

    @mixin image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
}

  